<div class="app">
  <goa-header
    serviceLevel="alpha"
    serviceName="Digital Service Example"
    serviceHome="/"
  >
  </goa-header>
  <goa-hero-banner
    backgroundUrl="../assets/banner.jpg"
    title="Quick start of a digital service"
  >
  </goa-hero-banner>
  <main class="container">
    <section>
      <h2>Welcome to {{ title }}!</h2>
      <p>
        Don't panic. Start editing the project to build your digital service.
      </p>
      <h3>A few things you might want to do next:</h3>
      <ul class="nextSteps">
        <li>Create the 'my-app' client in your realm to let users sign in</li>
        <li>
          Make requests to the backend API by either updating nginx.conf or
          enabling CORS on the API.
        </li>
        <li>Add requests to public API resources:</li>
        <li>Add requests to private API resources:</li>
      </ul>
    </section>
    <div class="container-fluid">
      <div class="row">
        <h3>
          <a routerLink="/">Home</a> | <a routerLink="/protected">Admin Area</a>
        </h3>
        <div *ngIf="isLoggedIn(); else elseBlock">
          <button goa-button (click)="logout()">Sign Out</button>
        </div>
        <ng-template #elseBlock>
          <button goa-button (click)="login()">Sign In</button></ng-template
        >
        <div class="col-sm-12 body-content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer">
    <div class="goa-socialconnect">
      <div class="goa-title">Connect with us on</div>
      <ul>
        <div>
          <img src="./assets/github-1.svg" height="15px" />
          <a href="https://github.com/abgov" rel="noreferrer" target="_blank">
            GitHub
          </a>
        </div>
      </ul>
    </div>
  </footer>
</div>
